<header class="masthead">
<nav class="language-nav">
  <ul>
    <a href=""><li>CSS</li></a>
    <a href=""><li>HTML</li> </a>
    <a href=""><li>Javascript</li> </a>
    <a href=""><li>Ruby</li></a>
  </ul>
</nav>
<nav class="logo">
  <%= image_tag 'AA_Times_Logo.png' %>
</nav>
<nav class="masthead-links">
  <li>Tuesday, October 18, 2016</li>

  <li id="today_paper">
    <input type="submit" value="Today’s Paper">
  </li>
  <li id="video">
    <input type="submit" value="Video">
  </li>
  
  <li id="weather">77°F</li>
  <li id="stock">AAO +100%</li>
</nav>

</header>